# Enable rewrite engine
RewriteEngine On

# Skip existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything else to index.html
RewriteRule ^ index.html [L]
